/* Site where I found this article: https://css-tricks.com/getting-started-css-grid/ */
/* MORE: https://css-tricks.com/snippets/css/complete-guide-grid/ */

body,html {
	padding: 0;
	margin: 0;
}

.wrapper {
	background-color: #000000;
	display:grid;
	grid-template-columns: 1fr; 
	/* - 1fr value valid CSS unit that tells each column to be one fraction of our grid.
		- If we change the value of a fr in that property then that would effectively create what’s known as an asymmetric grid.*/
		
	grid-template-rows: 1fr 3fr;
	
	grid-column-gap: 0.063em; 
	/* gap between the two columns? That’s the background of the wrapper peaking through each letter div and that's because we’ve set the grid-column-gap property to 0.063em. */
	
	grid-row-gap: 0.063em; 
	/* gap between the two rows? same as above */
}

.letter {
	align-items:center;
	background-color:#0069B3;
	color:white;
	display:flex;
	font-family: 'Mountains of Christmas', cursive;
	font-size:4.375em;
	justify-content: center; /* CSS Grid doesn’t replace flexbox properties as much as it compliments what they already do */
	padding:1.250em;
}

/* ######################################### */
/* Media Queries Start */
/* ######################################### */

/* Larger than fablet */
@media (min-width: 500px) {

.wrapper {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}
}

/* Larger than tablet */
@media (min-width: 750px) {

.wrapper {
	display:grid;
	grid-template-columns: 2fr 1fr 1fr;
}
}

/* Larger than fablet */
@media (min-width: 1000px) {

.wrapper {
	display:grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
}
}


/* ######################################### */
/* Media Queries End */
/* ######################################### */